body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0f172a;
  color: #e2e8f0;
}

.navbar {
  background: #111827;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 25px rgba(0,0,0,0.4);
}

.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #94a3b8;
  font-weight: 500;
}

.active-link {
  color: #38bdf8 !important;
  border-bottom: 2px solid #38bdf8;
}

.content {
  padding: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 25px;
  margin: 30px 0;
}

.card {
  background: #111827;
  padding: 25px;
  border-radius: 14px;
  flex: 1;
  box-shadow: 0 10px 35px rgba(0,0,0,0.4);
}

.card.danger p {
  color: #ef4444;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
}

.chart-card,
.leaderboard {
  background: #111827;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.4);
}

.attack-btn {
  background: linear-gradient(90deg,#ef4444,#dc2626);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(239,68,68,0.4);
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  gap: 20px;
}

.user-card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  transition: 0.3s;
}

.user-card:hover {
  transform: translateY(-4px);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #1e293b;
}
.table-wrapper {
  margin-top: 30px;
  background: #111827;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table thead {
  background: #1e293b;
}

.styled-table th,
.styled-table td {
  padding: 14px;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #1e293b;
}

.styled-table tbody tr:hover {
  background: #1e293b;
}

.critical {
  color: #ef4444;
  font-weight: bold;
}

.high {
  color: #f97316;
  font-weight: 600;
}

.low {
  color: #22c55e;
}
